.form {
  display: flex;
  flex-direction: column;

  padding: 10px;

  border: 2px solid black;
}

.label {
  display: flex;
  flex-direction: column;
}

.label:not(:last-child){
  margin-bottom: 20px;
}

.input {
  align-self: start;
}

.button {
  align-self: start;

  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
}
